
$highlight-color: #ff8700;

@import "helper/mixins";

// Components
@import "modules/component";

// Messages
@import "modules/message";


#typo3-ice-rightSidebar {
	@import "elementOptions";
}


// Stage - is supposed to carry everything that has to do with the modeller
.modeller-stage {
}




// Popover

.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1010;
	display: none;
	padding: 5px;

	&.top {
		margin-top: -5px;

		.arrow {
			bottom: 0;
			left: 50%;
			margin-left: -5px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid #000;
		}
	}

	&.right {
		margin-left: 5px;

		.arrow {
			top: 50%;
			left: 0;
			margin-top: -5px;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-right: 5px solid #000;
		}
	}

	&.bottom {
		margin-top: 5px;

		.arrow {
			top: 0;
			left: 50%;
			margin-left: -5px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid #000;
		}
	}

	&.left {
		margin-left: -5px;

		.arrow {
			top: 50%;
			right: 0;
			margin-top: -5px;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid #000;
		}
	}

	.arrow {
		position: absolute;
		width: 0;
		height: 0;
	}
}

.popover-inner {
	padding: 3px;
	width: 280px;
	overflow: hidden;
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.popover-title {
	margin: 0;
}

.popover-content {
	padding: 5px;
	background-color: #fff;

	p,
	ul,
	ol {
		margin: 0;
	}

}



// Generic Class for showing content
.is-shown {
	display: block !important;
}



// Components: show-properties-button
.components--more {
	@include x-transition(all .3s);

	display: block;

	width: 21px;
	height: 20px;
	margin: 0 auto;

	background: url(../Images/glyphicons-halflings.png) -309px -115px;

	text-indent: -100em;
	overflow: hidden;

	&.is-active {
		@include x-transform(rotate(180deg));
	}
}

// Hide properties by default
.components--properties {
	display: none;
}

.components--property {
	position: relative;
	padding: 5px;
	background: #f5f5f5;
	border-top: 1px solid #ccc;

	&.is-active {
		background-color: lighten(#ff8700, 40);
	}
}

.components--property-title {
	margin: 0;
	font-weight: bold;
}

.components--property-type {
	margin: 0;
}







// Labels for connections
.connector--label {
	position: relative;
	z-index: 1;
	background: rgba(255,255,255,.8);
	border: 1px solid #346789;
	padding: .2em;
	font-size: .9em;

	&:hover {
		border-color: #5d94a6;
	}

	&.hidden {
		display: none;
	}
}




// Zoom-Stuff
%zoom-out {
	width: 180px;
	font-size: .6em;
}
%zoom-in {
	width: 300px;
	font-size: 1em;
}

.is-zoomable {
	.component {
		@extend %zoom-out;
	}

	.is-active {
		.component {
			@extend %zoom-in;
		}
	}
}









