// ********************************************************************************
// sass --watch PackageBuilder.scss:../../Public/Css/PackageBuilder.css -t expanded
// ********************************************************************************

.FLOW3-Error-Debugger-VarDump {
	height:400px;
	overflow:scroll;
	cursor:move;
}