// Each model is a component
.component {
	@include x-transition(#{width 0.2s, font-size 0.2s, margin 0.2s});

	position: absolute;
	top: 30%;
	left: 50%;
	z-index: 20;
	width: 220px;
	border: 2px solid #346789;
	background: rgba(255,255,255,.8);
	font: .8em sans-serif;
	color: black;
	cursor: move;

	h3 {
		margin: 5px 0 0;
		padding: 0 5px;
	}

	p {
		margin: 0;
		padding: 0 5px;
	}

	.is-active & {
		@include x-box-shadow(0 0 10px rgba(0,0,0,.4));

		z-index: 100;
		border-color: $highlight-color;
	}
}

// Is module Aggregate root?
.component-root {
	background: #f7ebd0;
}

// Info-button
.components--button {
	display: none;

	float: right;
	text-indent: -999em;

	width: 16px;
	height: 16px;
	margin: 4px 2px 0;

	background: url(../Images/glyphicons-halflings.png) -120px -96px;

	.is-active & {
		display: block;
	}
}


// Extends .components--button
.components--acceptor {
	position: absolute;
	top: -24px;
	left: -4px;

	background-position: -143px -95px;

	.is-active & {
		display: none;
	}

	.is-relationable & {
		display: block;
	}
}


// Activate Header
.components--activate {
	color: #000;
	text-decoration: none;

	&:visited,
	&:active,
	&:hover {
		color: #000;
	}
}

// Extends .components--button
.components--relation {
	background-position: -144px -96px;
}

// Extends .components--button
.components--add {
	background-position: -408px -96px;
}
