.component {
  -webkit-transition: width 0.2s, font-size 0.2s, margin 0.2s;
  -moz-transition: width 0.2s, font-size 0.2s, margin 0.2s;
  -o-transition: width 0.2s, font-size 0.2s, margin 0.2s;
  -ms-transition: width 0.2s, font-size 0.2s, margin 0.2s;
  transition: width 0.2s, font-size 0.2s, margin 0.2s;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 20;
  width: 220px;
  border: 2px solid #346789;
  background: rgba(255, 255, 255, 0.8);
  font: .8em sans-serif;
  color: black;
  cursor: move;
}
.component h3 {
  margin: 5px 0 0;
  padding: 0 5px;
}
.component p {
  margin: 0;
  padding: 0 5px;
}
.is-active .component {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
  border-color: #ff8700;
}

.component-root {
  background: #f7ebd0;
}

.components--button {
  display: none;
  float: right;
  text-indent: -999em;
  width: 16px;
  height: 16px;
  margin: 4px 2px 0;
  background: url(../Images/glyphicons-halflings.png) -120px -96px;
}
.is-active .components--button {
  display: block;
}

.components--acceptor {
  position: absolute;
  top: -24px;
  left: -4px;
  background-position: -143px -95px;
}
.is-active .components--acceptor {
  display: none;
}
.is-relationable .components--acceptor {
  display: block;
}

.components--activate {
  color: #000;
  text-decoration: none;
}
.components--activate:visited, .components--activate:active, .components--activate:hover {
  color: #000;
}

.components--relation {
  background-position: -144px -96px;
}

.components--add {
  background-position: -408px -96px;
}

.message {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  padding: 0 35px 0 14px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  border-radius: 4px;
}

.message-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.message-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.message-close {
  position: absolute;
  right: 15px;
  border: 0;
  background: none;
}

#typo3-ice-rightSidebar .domainobject.is-active h2 {
  background: #ff8700;
}

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  padding: 5px;
}
.popover.top {
  margin-top: -5px;
}
.popover.top .arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;
}
.popover.right {
  margin-left: 5px;
}
.popover.right .arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000;
}
.popover.bottom {
  margin-top: 5px;
}
.popover.bottom .arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;
}
.popover.left {
  margin-left: -5px;
}
.popover.left .arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000;
}
.popover .arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.popover-inner {
  padding: 3px;
  width: 280px;
  overflow: hidden;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.popover-title {
  margin: 0;
}

.popover-content {
  padding: 5px;
  background-color: #fff;
}
.popover-content p,
.popover-content ul,
.popover-content ol {
  margin: 0;
}

.is-shown {
  display: block !important;
}

.components--more {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  width: 21px;
  height: 20px;
  margin: 0 auto;
  background: url(../Images/glyphicons-halflings.png) -309px -115px;
  text-indent: -100em;
  overflow: hidden;
}
.components--more.is-active {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.components--properties {
  display: none;
}

.components--property {
  position: relative;
  padding: 5px;
  background: #f5f5f5;
  border-top: 1px solid #ccc;
}
.components--property.is-active {
  background-color: #ffe7cc;
}

.components--property-title {
  margin: 0;
  font-weight: bold;
}

.components--property-type {
  margin: 0;
}

.connector--label {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #346789;
  padding: .2em;
  font-size: .9em;
}
.connector--label:hover {
  border-color: #5d94a6;
}
.connector--label.hidden {
  display: none;
}

.is-zoomable .component {
  width: 180px;
  font-size: .6em;
}

.is-zoomable .is-active .component {
  width: 300px;
  font-size: 1em;
}
