.modeller-stage {
  padding: 10px; }
  .modeller-stage .component {
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 20;
    border: 2px solid #346789;
    padding: .5em;
    width: 10em;
    height: 8em;
    background: rgba(255, 255, 255, 0.8);
    font: .8em sans-serif;
    color: black; }
    .modeller-stage .component h3 {
      margin: 0; }

.label {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #346789;
  padding: .2em;
  font-size: .9em; }
  .label:hover {
    border-color: #5d94a6; }
